<mat-toolbar style="position: fixed;z-index:10;">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()" >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Pub Companion</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-selection-list #publist [multiple]="false" (selectionChange)="onSelection($event)">
      <mat-list-option *ngFor="let pub of pubs" [value]="pub">
        <!-- <a [routerLink]="['/pub', pub.id]">{{pub.name}}</a> -->
        <div>{{pub.name}}</div>
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <div class="example-sidenav-content" style="bottom: 0;height: 100%;">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

